
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(54, 114, 54);
}

.quem-somos{
    background-color: rgb(69, 109, 96);
    color: rgb(243, 239, 239);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: brown;
}

.bg-footer{
    background-color: black;
    color: white;
}